In [72]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.inspection import permutation_importance
pd.set_option('display.max_columns', None)

credit_risk = pd.read_csv('credit_risk_dataset.csv')
credit_risk

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
...,...,...,...,...,...,...,...,...,...,...,...,...
32576,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,0.11,N,30
32577,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,0.15,N,19
32578,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46,N,28
32579,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,0.10,N,26
32580,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,0.15,N,30

# Remove target value

In [31]:
credit_risk_subset = credit_risk[["person_age","person_income", "person_home_ownership","person_emp_length","loan_intent","loan_grade","loan_amnt", "loan_int_rate", "loan_percent_income","cb_person_default_on_file", "cb_person_cred_hist_length"]]

In [32]:
credit_risk_subset

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,0.55,Y,4
...,...,...,...,...,...,...,...,...,...,...,...
32576,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0.11,N,30
32577,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0.15,N,19
32578,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,0.46,N,28
32579,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0.10,N,26
32580,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0.15,N,30

In [4]:
target= credit_risk["loan_status"]

# Encode label categories

In [6]:
le = LabelEncoder()

In [7]:
credit_risk_subset["person_home_ownership"] = le.fit_transform(credit_risk_subset["person_home_ownership"])
credit_risk_subset[ "loan_intent"] = le.fit_transform(credit_risk_subset["loan_intent"])
credit_risk_subset["cb_person_default_on_file"] = le.fit_transform(credit_risk_subset["cb_person_default_on_file"])

/var/folders/cv/c1y7tnrn37l1yphlsh_dl_r80000gn/T/ipykernel_99306/825823780.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  credit_risk_subset["person_home_ownership"] = le.fit_transform(credit_risk_subset["person_home_ownership"])
/var/folders/cv/c1y7tnrn37l1yphlsh_dl_r80000gn/T/ipykernel_99306/825823780.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  credit_risk_subset[ "loan_intent"] = le.fit_transform(credit_risk_subset["loan_intent"])
/var/folders/cv/c1y7tnrn37l1yphlsh_dl_r80000gn/T/ipykernel_99306/825823780.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  credit_risk_subset["cb_person_default_on_file"] = le.fit_transform(credit_risk_subset["cb_person_default_on_file"])

In [8]:
oe = OrdinalEncoder(categories=[["G", "E","F","D","C","B", "A" ]])

In [9]:
credit_risk_subset["loan_grade"] = oe.fit_transform(credit_risk[["loan_grade"]])

/var/folders/cv/c1y7tnrn37l1yphlsh_dl_r80000gn/T/ipykernel_99306/2858062682.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  credit_risk_subset["loan_grade"] = oe.fit_transform(credit_risk[["loan_grade"]])

0        3.0
1        5.0
2        4.0
3        4.0
4        4.0
        ...
32576    4.0
32577    6.0
32578    5.0
32579    5.0
32580    5.0
Name: loan_grade, Length: 32581, dtype: float64

In [10]:
credit_risk_subset[:30]

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,3,123.0,4,3.0,35000,16.02,0.59,1,3
1,21,9600,2,5.0,1,5.0,1000,11.14,0.10,0,2
2,25,9600,0,1.0,3,4.0,5500,12.87,0.57,0,3
3,23,65500,3,4.0,3,4.0,35000,15.23,0.53,0,2
4,24,54400,3,8.0,3,4.0,35000,14.27,0.55,1,4
5,21,9900,2,2.0,5,6.0,2500,7.14,0.25,0,2
6,26,77100,3,8.0,1,5.0,35000,12.42,0.45,0,3
7,24,78956,3,5.0,3,5.0,35000,11.11,0.44,0,4
8,24,83000,3,8.0,4,6.0,35000,8.90,0.42,0,2
9,21,10000,2,6.0,5,3.0,1600,14.74,0.16,0,3
10,22,85000,3,6.0,5,5.0,35000,10.37,0.41,0,4
11,21,10000,2,2.0,2,6.0,4500,8.63,0.45,0,2
12,23,95000,3,2.0,5,6.0,35000,7.90,0.37,0,2
13,26,108160,3,4.0,1,1.0,35000,18.39,0.32,0,4
14,23,115000,3,2.0,1,6.0,35000,7.90,0.30,0,4
15,23,500000,0,7.0,0,5.0,30000,10.65,0.06,0,3
16,23,120000,3,0.0,1,6.0,35000,7.90,0.29,0,4
17,23,92111,3,7.0,3,2.0,35000,20.25,0.32,0,4
18,23,113000,3,8.0,0,3.0,35000,18.25,0.31,0,4
19,24,10800,0,8.0,1,5.0,1750,10.99,0.16,0,2
20,25,162500,3,2.0,5,6.0,35000,7.49,0.22,0,4
21,25,137000,3,9.0,4,1.0,34800,16.77,0.25,1,2
22,22,65000,3,4.0,1,3.0,34000,17.58,0.52,0,4
23,24,10980,2,0.0,4,6.0,1500,7.29,0.14,0,3
24,22,80000,3,3.0,4,3.0,33950,14.54,0.42,1,4
25,24,67746,3,8.0,2,4.0,33000,12.68,0.49,0,3
26,21,11000,0,3.0,5,1.0,4575,17.74,0.42,1,3
27,23,11000,2,0.0,4,6.0,1400,9.32,0.13,0,3
28,24,65000,3,6.0,2,5.0,32500,9.99,0.50,0,3
29,21,11389,1,5.0,1,4.0,4000,12.84,0.35,1,2

# Check for nan values

In [11]:
credit_risk_subset.isna().sum()

person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length              895
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3116
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
dtype: int64

In [12]:
mask =credit_risk_subset.isnull().any(axis=1)
print(credit_risk_subset[mask])

       person_age  person_income  person_home_ownership  person_emp_length  \
39             23          71500                      3                3.0
50             24          78000                      3                4.0
57             23         277000                      2                3.0
59             24          12000                      2                2.0
62             26         263000                      0                0.0
...           ...            ...                    ...                ...
32547          53           4888                      2                0.0
32552          65          45900                      3                2.0
32553          54          20000                      3                2.0
32569          51          60000                      0                1.0
32570          58          72000                      3                5.0

       loan_intent  loan_grade  loan_amnt  loan_int_rate  loan_percent_income  \
39               0         3.0      30000            NaN                 0.42
50               0         3.0      30000            NaN                 0.38
57               4         6.0      35000            NaN                 0.13
59               5         1.0       1750            NaN                 0.15
62               1         5.0      10000            NaN                 0.04
...            ...         ...        ...            ...                  ...
32547            5         4.0       1400            NaN                 0.29
32552            1         4.0      10000            NaN                 0.22
32553            3         4.0       5000            NaN                 0.25
32569            4         6.0       7500            NaN                 0.13
32570            2         5.0       4500            NaN                 0.06

       cb_person_default_on_file  cb_person_cred_hist_length
39                             0                           4
50                             1                           4
57                             0                           4
59                             1                           3
62                             0                           4
...                          ...                         ...
32547                          1                          28
32552                          1                          19
32553                          0                          28
32569                          0                          23
32570                          0                          23

[3943 rows x 11 columns]

In [13]:
target.isna().sum()

0

# Fill in values using KNNImputer

In [14]:
from sklearn.impute import KNNImputer

knnimputer = KNNImputer(n_neighbors =3)

In [15]:
credit_risk_subset.iloc[:,:] = knnimputer.fit_transform(credit_risk_subset)

/var/folders/cv/c1y7tnrn37l1yphlsh_dl_r80000gn/T/ipykernel_99306/36402627.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  credit_risk_subset.iloc[:,:] = knnimputer.fit_transform(credit_risk_subset)

In [16]:
credit_risk_subset.isna().sum()

person_age                    0
person_income                 0
person_home_ownership         0
person_emp_length             0
loan_intent                   0
loan_grade                    0
loan_amnt                     0
loan_int_rate                 0
loan_percent_income           0
cb_person_default_on_file     0
cb_person_cred_hist_length    0
dtype: int64

# Normalize the data

In [17]:
norm_1 = tf.keras.layers.Normalization(axis =-1 )
norm_1.adapt(credit_risk_subset)
credit_risk_regularized = norm_1(credit_risk_subset)

2023-04-14 00:23:29.350503: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [18]:
credit_risk_regularized

<tf.Tensor: shape=(32581, 11), dtype=float32, numpy=
array([[-0.90337235, -0.11414361,  0.9237221 , ...,  3.9314103 ,
         2.1612968 , -0.69155395],
       [-1.0609026 , -0.9111472 ,  0.22592993, ..., -0.6574591 ,
        -0.4626861 , -0.9381667 ],
       [-0.43078145, -0.9111472 , -1.1696544 , ...,  3.7441096 ,
        -0.4626861 , -0.69155395],
       ...,
       [ 5.87043   ,  0.16012888,  0.9237221 , ...,  2.7139556 ,
        -0.4626861 ,  5.4737644 ],
       [ 4.4526577 ,  1.3540208 , -1.1696544 , ..., -0.6574591 ,
        -0.4626861 ,  4.980539  ],
       [ 6.0279603 , -0.3884161 ,  0.9237221 , ..., -0.18920702,
        -0.4626861 ,  5.9669895 ]], dtype=float32)>

# Build your model

In [93]:
model = Sequential(
    [
        Dense(200, activation = "relu"),
        Dense(50, activation = "relu"),
        Dense(30, activation = 'relu'),
        Dense(1, activation = "sigmoid")
        
    ]
)

In [94]:
model.compile(optimizer = "adam" , loss = tf.keras.losses.BinaryCrossentropy(), metrics=['accuracy'])

# Split the data into training data, validation data and test data

In [95]:
X_train, Xn, Y_train, Yn = train_test_split(credit_risk_regularized.numpy(), target, test_size =.50, random_state = 2)
X_cv, X_test, Y_cv, Y_test = train_test_split(Xn, Yn, test_size =.50, random_state = 2)

In [96]:
print(f"X_train.shape {X_train.shape}, Y_train.shape {Y_train.shape}")
print(f"X_cv.shape {X_cv.shape}, Y_cv.shape {Y_cv.shape}")
print(f"X_test.shape {X_test.shape}, Y_test.shape {Y_test.shape}")

X_train.shape (16290, 11), Y_train.shape (16290,)
X_cv.shape (8145, 11), Y_cv.shape (8145,)
X_test.shape (8146, 11), Y_test.shape (8146,)

In [97]:
X_train = tf.convert_to_tensor(X_train)
Y_train = tf.convert_to_tensor(Y_train)

In [98]:
early_stop = EarlyStopping(monitor='val_loss', patience=6, mode = 'min')

In [99]:
model.fit(X_train,Y_train, validation_data=(X_cv, Y_cv), epochs = 100, callbacks=[early_stop])
test_loss,test_acc=model.evaluate(X_test,Y_test)

Epoch 1/100
510/510 [==============================] - 1s 1ms/step - loss: 0.3592 - accuracy: 0.8526 - val_loss: 0.3353 - val_accuracy: 0.8549
Epoch 2/100
510/510 [==============================] - 1s 2ms/step - loss: 0.3122 - accuracy: 0.8758 - val_loss: 0.3092 - val_accuracy: 0.8776
Epoch 3/100
510/510 [==============================] - 1s 1ms/step - loss: 0.2960 - accuracy: 0.8844 - val_loss: 0.2939 - val_accuracy: 0.8834
Epoch 4/100
510/510 [==============================] - 1s 1ms/step - loss: 0.2846 - accuracy: 0.8905 - val_loss: 0.2955 - val_accuracy: 0.8872
Epoch 5/100
510/510 [==============================] - 1s 1ms/step - loss: 0.2765 - accuracy: 0.8952 - val_loss: 0.2850 - val_accuracy: 0.8899
Epoch 6/100
510/510 [==============================] - 1s 2ms/step - loss: 0.2710 - accuracy: 0.8986 - val_loss: 0.2820 - val_accuracy: 0.8907
Epoch 7/100
510/510 [==============================] - 1s 3ms/step - loss: 0.2620 - accuracy: 0.9026 - val_loss: 0.2791 - val_accuracy: 0.8944
Epoch 8/100
510/510 [==============================] - 1s 2ms/step - loss: 0.2566 - accuracy: 0.9066 - val_loss: 0.2721 - val_accuracy: 0.8983
Epoch 9/100
510/510 [==============================] - 1s 2ms/step - loss: 0.2531 - accuracy: 0.9080 - val_loss: 0.2764 - val_accuracy: 0.8956
Epoch 10/100
510/510 [==============================] - 1s 2ms/step - loss: 0.2461 - accuracy: 0.9124 - val_loss: 0.2706 - val_accuracy: 0.9045
Epoch 11/100
510/510 [==============================] - 2s 3ms/step - loss: 0.2410 - accuracy: 0.9155 - val_loss: 0.2641 - val_accuracy: 0.9033
Epoch 12/100
510/510 [==============================] - 1s 1ms/step - loss: 0.2387 - accuracy: 0.9145 - val_loss: 0.2812 - val_accuracy: 0.8956
Epoch 13/100
510/510 [==============================] - 1s 1ms/step - loss: 0.2371 - accuracy: 0.9163 - val_loss: 0.2664 - val_accuracy: 0.9062
Epoch 14/100
510/510 [==============================] - 1s 1ms/step - loss: 0.2322 - accuracy: 0.9185 - val_loss: 0.2655 - val_accuracy: 0.9064
Epoch 15/100
510/510 [==============================] - 1s 1ms/step - loss: 0.2283 - accuracy: 0.9198 - val_loss: 0.2592 - val_accuracy: 0.9062
Epoch 16/100
510/510 [==============================] - 1s 2ms/step - loss: 0.2258 - accuracy: 0.9218 - val_loss: 0.2606 - val_accuracy: 0.9074
Epoch 17/100
510/510 [==============================] - 1s 2ms/step - loss: 0.2229 - accuracy: 0.9229 - val_loss: 0.2596 - val_accuracy: 0.9062
Epoch 18/100
510/510 [==============================] - 1s 1ms/step - loss: 0.2195 - accuracy: 0.9240 - val_loss: 0.2720 - val_accuracy: 0.9048
Epoch 19/100
510/510 [==============================] - 1s 2ms/step - loss: 0.2196 - accuracy: 0.9229 - val_loss: 0.2603 - val_accuracy: 0.9085
Epoch 20/100
510/510 [==============================] - 1s 2ms/step - loss: 0.2149 - accuracy: 0.9266 - val_loss: 0.2646 - val_accuracy: 0.9034
Epoch 21/100
510/510 [==============================] - 1s 2ms/step - loss: 0.2145 - accuracy: 0.9260 - val_loss: 0.2564 - val_accuracy: 0.9105
Epoch 22/100
510/510 [==============================] - 1s 2ms/step - loss: 0.2104 - accuracy: 0.9283 - val_loss: 0.2557 - val_accuracy: 0.9111
Epoch 23/100
510/510 [==============================] - 1s 2ms/step - loss: 0.2102 - accuracy: 0.9274 - val_loss: 0.2544 - val_accuracy: 0.9109
Epoch 24/100
510/510 [==============================] - 1s 2ms/step - loss: 0.2066 - accuracy: 0.9310 - val_loss: 0.2629 - val_accuracy: 0.9131
Epoch 25/100
510/510 [==============================] - 1s 2ms/step - loss: 0.2020 - accuracy: 0.9322 - val_loss: 0.2601 - val_accuracy: 0.9142
Epoch 26/100
510/510 [==============================] - 1s 1ms/step - loss: 0.2023 - accuracy: 0.9306 - val_loss: 0.2605 - val_accuracy: 0.9121
Epoch 27/100
510/510 [==============================] - 1s 2ms/step - loss: 0.2030 - accuracy: 0.9307 - val_loss: 0.2598 - val_accuracy: 0.9091
Epoch 28/100
510/510 [==============================] - 1s 2ms/step - loss: 0.1968 - accuracy: 0.9322 - val_loss: 0.2698 - val_accuracy: 0.9078
Epoch 29/100
510/510 [==============================] - 1s 1ms/step - loss: 0.1960 - accuracy: 0.9327 - val_loss: 0.2725 - val_accuracy: 0.9134
255/255 [==============================] - 0s 827us/step - loss: 0.3005 - accuracy: 0.9101

In [166]:
pers = np.array([[20, 60000, 0,4,4,4,280000,3,2,0,3]])
pred=model.predict(pers)
print(pred)

1/1 [==============================] - 0s 92ms/step
[[0.]]